<div class="container settings-profile">
  <div class="row">
    <div class="col-md-3">
      <div class="settings-profile-menu">
        <%= link_to 'プロフィール', setting_profile_path %>
        <%= link_to 'パスワード', setting_password_path %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="form settings-profile-main">
        <%= form_for(resource, as: resource_name, url: setting_profile_path) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :name, class: 'form-label' %>
            <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :email, class: 'form-label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :introduce, class: 'form-label' %>
            <%= f.text_area :introduce, autofocus: true, autocomplete: 'introduce', class: 'form-control' %>
          </div>

          <div class="settings-avatar">
            <div class="profile-avatar-icon">
              <%= image_tag current_user.avatar_url, size: '64x64', id: 'profile-avatar', alt: current_user.avatar_url %>
            </div>
            <div class="avatar-upload">
              <%= f.file_field :avatar, class: 'form-control-file' %>
              10 MB まで
              <div class="form-check">
                <%= f.check_box :remove_avatar, class: 'form-check-input' %>
                <%= f.label :remove_avatar, class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <%= f.submit '更新する', class: 'btn btn-default' %>
        <% end %>
        <div class="delete-heading">アカウント削除</div>
        <div class="delete-help">一度アカウントを削除すると、二度と元に戻せません。</div>
        <%= link_to 'アカウントを削除する', delete_path, method: :delete, class: 'btn btn-default btn-danger' %>
      </div>
    </div>
  </div>
</div>