<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>無料会員登録</h2>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <%= devise_error_messages! %>
      <%= form_for(resource, as: resource_name, url: signup_path) do |f| %>
        <div class="form-group">
          <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', placeholder: 'ユーザー名' %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'メールアドレス' %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.password_field :password, autocomplete: 'new_password', class: 'form-control', placeholder: 'パスワード' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: 'new_password', class: 'form-control', placeholder: '確認用パスワード' %>
            </div>
          </div>
        </div>
        <%= f.submit '登録する', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>