<%= provide(:title, 'SIGN UP') %>
<div class="sessionsLayout_bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="sessionsLayoutBody">
          <h1 class="sessionsLayoutBody_title">Sign Up!</h1>
          <hr>
          <p class="lead">メールアドレスで登録</p>
          <%= form_for(resource, as: resource_name, url: signup_path) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', placeholder: 'ユーザー名' %>
              <p class="lead validation">
                半角英数字のみ入力出来ます
              </p>
            </div>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'メールアドレス' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: 'new_password', class: 'form-control', placeholder: 'パスワード' %>
            </div>
            <%= f.submit '登録する', class: 'btn btn-default' %>
          <% end %>
          <div class="social-login">
            <div class="lead"> メールアドレス以外で登録する </div>
            <%= link_to user_twitter_omniauth_authorize_path, class: 'twitter-link' do %>
              <i class="fab fa-twitter"></i>
            <% end %>
          </div>
          <%= link_to 'アカウントをお持ちの方はコチラ', login_path, class: 'lead-path' %>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>