<%= provide(:title, 'SIGN UP') %>
<div class="sessionsLayout_bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="sessionsLayoutBody">
          <h1 class="sessionsLayoutBody_title">Sign Up!</h1>
          <hr>
          <p class="lead">メールアドレスで登録</p>
          <%= form_for(resource, as: resource_name, url: signup_path) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', placeholder: 'ユーザー名' %>
            </div>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'メールアドレス' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: 'new_password', class: 'form-control', placeholder: 'パスワード' %>
            </div>
            <%= f.submit '登録する', class: 'btn btn-default' %>
          <% end %>
          <p class="lead">-Signup with-</p>
          <div class="sessionsLayout_sns">
            <%= link_to '#', class: 'btn btn-twitter' do %>
              <i class="fab fa-twitter"></i>
            <% end %>
          </div>
          <%= link_to 'アカウントをお持ちの方はコチラ', login_path, class: 'lead-path' %>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>