<div class="commentForm">
    <%= form_for(object, remote: true) do |f| %>
        <div class="commentForm_header">
            <%= image_tag current_user.avatar.to_s, class: 'article-user-avatar' %>
            <div class="commentForm_headerLabel">コメントを編集する</div>
        </div>
        <div class="commentForm_body" id="comment-post">
            <%= f.text_area :content, placeholder: 'コメントを入力してください', class: 'form-control form-comment' %>
            <%= hidden_field_tag 'comment[article_id]', @article.id %>
        </div>
        <div class="commentForm_submit">
            <%= f.submit '更新', class: 'btn btn-default btn-comment' %>
        </div>
    <% end %>
</div>