<% object.each do |article| %>
    <div class="tr-Item">
        <%= link_to article.user, class: 'tr-Item_userImage' do %>
            <%= image_tag article.user.avatar_url %>
        <% end %>
        <div class="tr-Item_body" id="posted-order">
            <%= link_to article.title, article, class: 'tr-Item_title' %>
            <div class="tr-Item_meta">
                <span>by <%= link_to article.user.name, article.user, class: 'tr-Item_author' %> </span>
                <time> <%= article.created_at.strftime('%Y年%m月%d日') %> </time>
            </div>
        </div>
        <div class="tr-Item_status">
            <div class="tr-Item_likes">
                <span class="fas fa-thumbs-up"></span>
                <span class="likes-count"> <%= Like.where(article_id: article.id).count %> </span>
            </div>
            <div class="tr_Item_comments">
                <span class="far fa-comment"></span>
                <span class="comments-count"> <%= Comment.where(article_id: article.id).count %> </span>
            </div>
        </div>
    </div>
<% end %>