<% @articles.each do |article| %>
  <div class="articleItemWrapper">
    <div class="articleItem_image">
      <%= image_tag article.cover_picture, size: '340x220' %>
    </div>
    <div class="articleItemBody">
      <%= link_to article.title, article %>
      <div class="articleItem_content">
        <div class="articleItem_content_main">
          <%= article.content %>
        </div>
        <%= link_to '続きを読む', article %>
      </div>
      <div class="articleItem_meta">
        <div class="article_userInfo">
          <span>
            by
            <%= link_to article.user.name, article.user %>
          </span>
        </div>
        <div class="article_statusInfo">
          <div class="article_likes">
            <span class="fas fa-thumbs-up"></span>
            <span> <%= article.likes.count %> </span>
          </div>
          <div class="article_comments">
            <span class="far fa-comment"></span>
            <span> <%= article.comments.count %> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>