<%= provide(:title, @article.title) %>
<div class="articleWrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="article-main">
                    <div class="article-header">
                        <h1 class="header-title"> <%= @article.title %> </h1>
                        <div class="article-updated">
                                <%= @article.updated_at.strftime('%Y年%m月%d日') %>
                        </div>
                    </div>
                    <% if user_signed_in? %>
                        <div class="articleActions">
                            <% if likes?(@article.id) %>
                                <%= render 'likes/liked' %>
                            <% else %>
                                <%= render 'likes/likable' %>
                            <% end %>
                            <% if favorite?(@article) %>
                                <%= render 'favorites/unfavorite' %>
                            <% else %>
                                <%= render 'favorites/favorites' %>
                            <% end %>        
                        </div>
                    <% end %>
                    <section class="articleContent">
                        <% if @pictures.size > 0 %>
                            <div class="articlePicture">
                                <div class="article-thumbnails">
                                    <ul id="thumbnails">
                                        <% @pictures.each do |picture| %>
                                            <li class="thumbnail-list"> <%= image_tag picture.image_url, class: 'thumbnail' %> </li>
                                        <% end %>
                                    </ul>
                                </div>
                                <main> 
                                    <%= image_tag @pictures[0].image_url, class: 'main-picture' %>
                                </main>
                            </div>
                        <% end %>
                        <div class="articleContent_story">
                            <%= simple_format(@article.content) %>
                        </div>
                        <div class="articleContent_chart">
                            <canvas id="myRadarChart"></canvas>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="article-sideMenu">
                    <div class="sideMenu_header">
                        <%= image_tag @article.user.avatar.to_s, class: 'author-image' %>
                        <div class="sideMenu_header_label">
                            <%= link_to @article.user.name, @article.user %>
                        </div>
                    </div>
                    <div class="author-introduce">
                        <%= @article.user.introduce %>
                    </div>
                    <% if correct_user? %>
                        <div class="article-settings">
                            <%= link_to '編集する', edit_article_path(@article) %>
                            <%= link_to '削除する', article_path(@article), method: :delete, data: { confirm: '本当に削除しますか?' } %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="commentsWrapper">
        <div class="comment-main">
            <%= render 'comments/comment_list' %>
            <% if user_signed_in? %>
                <%= render 'comments/comment_form', object: @new_comment %>
            <% else %>
                <div class="anonymousForm">
                    <div class="anonymousForm_lead">
                        あなたもコメントしてみませんか
                    </div>
                    <%= link_to '登録', signup_path, class: 'btn btn-default' %>
                    <div class="anonymousForm_sub">
                        すでにアカウントをお持ちの方は<%= link_to 'ログイン', login_path %>
                    </div>

                </div>
            <% end %>
        </div>
    </div>
</div>
<script>draw_chart();</script>