<div class="articleWrapper">
    <div class="container">
        <div class="article-main">
            <div class="article-header">
                <div class="u-flex-center-between mb-3">
                    <div class="article-header-info">
                        <div class="article-author">
                            <%= link_to @article.user.name, @article.user %>
                        </div>
                        <div class="article-time"> <%= @article.updated_at %> </div>
                        <div class="article-meta">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="articleEditMenu" data-toggle="dropdown">
                                    <i class="fas fatools"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <li> <%= link_to '編集する', edit_article_path %> </li>
                                    <li> <%= link_to '削除する', article_path, method: :delete %> </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="header-title"> <%= @article.title %> </h1>
            </div>
            <section class="article-story">
                <%= @article.content %>
            </section>
            <div class="article-radar-chart">
                <canvas id="myRadarChart"></canvas>
            </div>
            <div class="author-info">
                <div class="author-content">
                    <%= link_to @article.user do %>
                        <%= image_tag @article.user.avatar_url, class: 'author-image' %>
                    <% end %>
                    <div class="author-body">
                        <div class="author-header">
                            <%= link_to @article.user.name, @article.user %>
                        </div>
                        <div class="author-introduce"> <%= @article.user.introduce %> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>draw_chart();</script>