<div class="notificationWrapper">
  <% current_user.notifications.order(created_at: :desc).each do |notification| %>
    <div class="notificationItem">
      <% if notification.like_user_id? %>
        <%= link_to notification.article, class: 'nav-link' do %>
          <span class="bold"><%= notification.user_name(notification.like_user_id) %></span>
          があなたの記事
          <span class="title">「<%= notification.article_title %>」</span>
          を
          <span class="bold">いいね</span>
          しました。
        <% end %>
      <% elsif notification.comment_user_id? %>
        <%= link_to notification.article, class: 'nav-link' do %>
          <span class="bold"><%= notification.user_name(notification.comment_user_id) %></span>
          があなたの記事
          <span class="title">「<%= notification.article_title %>」</span>
          に
          <span class="bold">コメント</span>
          しました。
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>