<div class="main">
    <div class="userPage_header">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="userPage_profile">
                        <div class="userPage_avatar">
                            <%= link_to @user do %>
                                <%= image_tag @user.avatar.to_s, size: '80x80' %>
                            <% end %>
                        </div>
                        <div class="userPage_body">
                            <h2 class="userPage_heading"> <%= @user.name %> </h2>
                            <p>
                                <span class="userPage_articleCount"><%= @user.articles.count %></span>
                                <span class="userPage_posts">Posting</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
    <div class="userPage_ribbon">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="userPage_ribbonTitle"> <%= link_to @user.name, @user %> / フォロワー </span>
                </div>
            </div>
        </div>
    </div>
    <div class="userPage_main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tabList">
                        <% @followers_user.each do |user| %>
                            <div class="tabList_Item">
                                <div class="tabList_avatar"><%= image_tag user.avatar.to_s, size: '48x48' %></div>
                                <div class="tabList_info">
                                    <%= link_to user.name, user %>
                                    <p><%= user.introduce %></p>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <%= render 'shared/footer' %>
        </div>
    </div>
</div>