<%= provide(:title, @user.name) %>
<div id="main">
    <div class="container userPage">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-avatar">
                    <%= image_tag @user.avatar.to_s %>
                </div>
                <div class="profile-username">
                    <h3> <%= @user.name %> </h3>
                </div>
                <% unless current_user?(@user) %>
                    <% if current_user.following?(@user) %>
                        <%= render 'relationships/unfollow' %>
                    <% else %>
                        <%= render 'relationships/follow' %>
                    <% end %>
                <% end %>
                <div class="profile-info">
                    <% unless @user.introduce.nil? %>
                        <div class="profile-introduce">
                            <%= @user.introduce %>
                        </div>
                    <% end %>
                    <% if current_user?(@user) %>
                        <%= link_to setting_profile_path, class: 'edit-profile' do %>
                            <i class="fas fa-cog"></i> プロフィールを編集する
                        <% end %>
                    <% end %>
                </div>
                <div class="profileUser_following">
                    <div class="profileUser_following-header">
                        <div class="profileUser_following-title"> <i class="fas fa-users"></i> フォロー中のユーザー </div>
                        <%= link_to @user.following.count, following_user_path, class: 'profileUser_following-count' %>
                    </div>
                    <div class="profileUser_following-body">
                        <ul>
                            <% @user.following.each do |user| %>
                                <li>
                                    <%= link_to user do %> 
                                        <%= image_tag user.avatar.to_s %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="profileUser_following">
                    <div class="profileUser_following-header">
                        <div class="profileUser_following-title"> <i class="fas fa-user-check"></i> フォロワーリスト </div>
                        <%= link_to @user.followers.count, followers_user_path, class: 'profileUser_following-count' %>
                    </div>
                    <div class="profileUser_following-body">
                        <ul>
                            <% @user.followers.each do |user| %>
                                <li>
                                    <%= link_to user do %> 
                                        <%= image_tag user.avatar.to_s %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item active">
                        <a href="#posted-articles" id="posted-articles-tab" data-toggle="tab" class="nav-link posted-tab" role="tab" aria-controls="posted-articles" aria-selected="true">投稿した記事</a>
                    </li>
                    <li class="nav-item">
                        <a href="#liked-articles" id="liked-articles-tab" data-toggle="tab" class="nav-link posted-tab" role="tab" aria-controls="liked-articles" aria-selected="false">いいねした記事</a>
                    </li>
                </ul>
                <div class="tab-content mt-3" id="myTabContent">
                    <div class="tab-pane show active" id="posted-articles" role="tabpanel" aria-labelledby="posted-articles-tab">
                        <%= render 'articles/articles' %>
                    </div>
                    <div class="tab-pane" id="liked-articles" role="tabpanel" aria-labelledby="liked-articles-tab">
                        <%= render 'articles/liked_articles' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>