<div id="main">
    <div class="container userPage">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-avatar">
                    <%= image_tag @user.avatar.to_s, size: '255x255' %>
                </div>
                <div class="profile-username">
                    <h3> <%= @user.name %> </h3>
                </div>
                <div class="profile-info">
                    <div class="profile-introduce">
                        <%= @user.introduce %>
                    </div>
                    <%= link_to 'プロフィールを編集する', setting_profile_path, class: 'edit-profile' %>
                </div>
            </div>
            <div class="col-md-9">
                <% @articles.each do |article| %>
                    <div class="tr-Item">
                        <%= link_to article.user, class: 'tr-Item_userImage' do %>
                            <%= image_tag article.user.avatar_url %>
                        <% end %>
                        <div class="tr-Item_body">
                            <%= link_to article.title, article, class: 'tr-Item_title' %>
                            <div class="tr-Item_meta">
                                <span>by <%= link_to article.user.name, article.user, class: 'tr-Item_author' %> </span>
                                <time> <%= article.created_at.strftime('%Y年%m月%d日') %> </time>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>