<!-- Navigation -->
<nav class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark navbar-custom">
    <div class="container">
        <%= link_to 'LoveKitchen', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                    <li class="nav-item mr-sm-2">
                        <%= search_form_for @q, url: search_path, class: 'form-inline' do |f| %>
                            <%= f.search_field :title_or_content_cont, placeholder: 'キーワードを入力', class: 'form-control' %>
                            <%= f.submit '検索', class: 'btn' %>
                        <% end %>
                    </li>
                    <li class="nav-item"> 
                        <%= link_to user_favorites_path(current_user), class: 'nav-link' do %>
                            <i class="fas fa-heart"></i> お気に入り
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to new_article_path, class: 'nav-link' do %>
                            <i class="fas fa-edit"></i> 投稿する
                        <% end %>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            マイページ
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <%= link_to current_user, class: 'nav-link' do %>
                                <i class="fas fa-user-alt"></i> プロフィール
                            <% end %>
                            <div class="dropdown-divider"></div>
                            <%= link_to logout_path, method: :delete, class: 'nav-link' do %>
                                <i class="fas fa-sign-out-alt"></i> ログアウト
                            <% end %>
                        </div>
                    </li>
                <% else %>
                    <li class="nav-item"> 
                        <%= link_to '#', class: 'nav-link' do %>
                            <i class="fas fa-cocktail"></i> LoveKitchenとは
                        <% end %>
                    </li>
                    <li class="nav-item"> 
                        <%= link_to signup_path, class: 'nav-link' do %>
                            <i class="fas fa-rocket"></i> 無料会員登録
                        <% end %>
                    </li>
                    <li class="nav-item"> 
                        <%= link_to login_path, class: 'nav-link' do %>
                            <i class="fas fa-lock"></i> ログイン
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>