<% if user_signed_in? %>
<div class="homeLayoutBody">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="home-heading"> <i class="fas fa-utensils"></i> アイテム一覧</h2>
                <div class="search-form">
                    <%= render 'shared/search_form' %>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="itemList">
                    <%= render 'articles/articles' %>
                </div>
                <%= paginate @articles %>
            </div>
        </div>
    </div>
</div>
<% else %>
<!-- Header -->
<div id="top">
    <div class="top-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 margin-left">
                    <h1>Love <span class="brand-heading">Kitchen</span></h1>
                    <p class="top-text">料理好きな人の”こだわり”をシェア出来るサービスです</p>
                    <%= link_to '今すぐ始める！', signup_path, class: 'btn btn-default' %>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="index" class="text-center">
    <div class="container">
        <div class="section-title">
            <h2>投稿を見る</h2>
            <hr>
        </div>
        <div class="col-md-10 margin-left">
            <%= render 'articles/articles', object: @top_articles %>
        </div>
    </div>
</div>
<% end %>