<%= provide(:title, 'LOGIN') %>
<div class="sessionsLayout_bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="debug-account">
          <div class="debug-accountEmail">[email] alice@gmail.com</div>
          <div class="debug-accountPassword">[password] password</div>
          <div class="debug-accountDescription">こちらのアカウントでログイン出来ます。</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="sessionsLayoutBody">
          <h1 class="sessionsLayoutBody_title">Login</h1>
          <hr>
          <p class="lead">メールアドレスでログイン</p>
          <%= form_for(resource, as: resource_name, url: login_path) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'メールアドレス' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: 'new_password', class: 'form-control', placeholder: 'パスワード' %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="sessionsLayout_option">
                <div class="sessionsLayout_remember">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, class: 'remember-label' %>
                </div>
                <%= link_to 'パスワードを忘れた方はコチラ', forgot_password_path, class: 'forgot-password' %>
              </div>
            <% end %>
            <%= f.submit 'ログイン', class: 'btn btn-default' %>
          <% end %>
          <%= link_to 'アカウントをお持ちでない方はコチラ', signup_path, class: 'lead-path' %>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>